footer {
    position: relative;
    padding: 50px 0 80px;
    margin: 5px;
    background-color: #ffffff;
    overflow: hidden;
}

footer::before,
footer::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 70px;
    background: url('/frontend/static/img/wave-footer.svg') no-repeat center bottom;
    background-size: cover;
    z-index: -1;
}

footer::before {
    top: -1px;
    transform: scaleX(-1);
}

footer::after {
    bottom: 0;
    transform: scaleX(-1) scaleY(-1);
}

.footer-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px;

}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-right {
    flex-direction: row;
    align-items: center;
    gap: 20px; /* Відстань між іконками */
    flex-wrap: nowrap; /* Забороняє переносити іконки вниз */
}


.footer-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.footer-icon {
    width: 24px;
    height: 24px;
}

.footer-social-icon {
    width: 38px;  /* Більший розмір іконок */
    height: 38px;
    transition: transform 0.3s ease;  /* Плавний ефект */
}

.footer-social-icon:hover {
    transform: scale(1.4);  /* Збільшення при наведенні */
}

.footer-copy {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #555;
    text-align: center;
}

/* --- Адаптивність для мобільних та планшетів --- */
@media (max-width: 768px) {
    .footer-content {
        /*flex-direction: column;  !* Футер в колону *!*/
        align-items: center;
        text-align: center;
        padding: 50px;
    }

    .footer-right {
        /*flex-wrap: wrap; !* Дозволяє переносити, якщо мало місця *!*/
        justify-content: center;
        gap: 10px; /* Менший відступ між іконками */
    }

    .footer-social-icon {
        width: 33px;  /* Менший розмір для мобільних */
        height: 33px;
    }
}

@media (max-width: 480px) {
    .footer-copy {
        font-size: 10px;
    }
    .footer-social-icon {
        width: 28px;  /* Менший розмір для мобільних */
        height: 28px;
    }
}
