{{ define "header.html" }}
    <header class="main-header">
        <div class="header-container">
            <div class="logo">
                <img src="/frontend/static/img/logo.png" alt="Логотип" />
            </div>
            <nav class="main-nav">
                <button class="mobile-menu-toggle" aria-label="Toggle Menu">≡</button>
                <ul class="menu">
                    <li class="item"><a href="/" class="link"><span>Головна</span></a></li>
                    <li class="item has-submenu">
                        <a href="#" class="link">
                            <span>Про школу</span>
                            <svg width="14" height="14" viewBox="0 0 24 24"><path d="M12 15l-8-8h16z"></path></svg>
                        </a>
                        <div class="submenu">
                            <div class="submenu-item"><a href="/history" class="submenu-link">Історія школи</a></div>
                            <div class="submenu-item"><a href="/structural-divisions" class="submenu-link">Структурні підрозділи</a></div>
                            <div class="submenu-item"><a href="/administration" class="submenu-link">Адміністрація</a></div>
                            <div class="submenu-item"><a href="/graduates" class="submenu-link">Наші випускники</a></div>
                            <div class="submenu-item"><a href="/support" class="submenu-link">Підтримка школи</a></div>
                        </div>
                    </li>
                    <li class="item has-submenu">
                        <a href="#" class="link">
                            <span>Навчальний процес</span>
                            <svg width="14" height="14" viewBox="0 0 24 24"><path d="M12 15l-8-8h16z"></path></svg>
                        </a>
                        <div class="submenu">
                            <div class="submenu-item"><a href="/educational-programs" class="submenu-link">Освітня програма</a></div>
                            <div class="submenu-item"><a href="/cost-education" class="submenu-link">Вартість навчання</a></div>
                            <div class="submenu-item"><a href="/admission-requirements" class="submenu-link">Вимоги до вступу</a></div>
                        </div>
                    </li>
                    <li class="item"><a href="#" class="link"><span>Галерея</span></a></li>
                    <li class="item"><a href="#" class="link"><span>Новини</span></a></li>
                    <li class="item"><a href="#" class="link"><span>Контакти</span></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <button class="scroll-menu-btn">☰</button>
    <div class="menu-overlay"></div>
    <button class="scroll-menu-btn">↑</button>
{{ end }}
